/*------------------- Custom reset ------------------- */
h1, h2, h3, h4, h5, h6, a, p, ul, li, hr {
	margin: 0;
	padding: 0;
}
button, input{
	outline: none;
	border-radius: 10px;
	margin: 10px;
}
.button{
	color: #ffffff;
	font-weight: bold;
	background-color: #4da6ff;
	border-color: transparent;
	padding: 5px 20px;
}
.button:hover{
	background-color: #0099e6;
	transition: all 0.3s ease-in-out;
}
/* ------------------- Custom reset ------------------- */
/* ---------------------- Page ---------------------- */
/* -----------------  Header Settings --------------*/
header{
	box-shadow: 0 0 8px 0 #4d4dff;
}
header h1{
	color:  #0099e6;
	padding: 20px 10px 10px;
}
header .regButton{
	float: right;
	padding: 10px 10px 5px;
}
/* -----------------  Header Settings --------------*/
/* -----------------  Contetn Settings --------------*/
.contentBackground{
	margin: 20px 0;
	padding: 30px;
	background-color: #e6e6e6;
	border-radius: 20px;
}
.contentBackground p{
	text-align: center;
}
.contentBackground span{
	color: #0099e6;
	font-style: italic;
	font-size: 12px;
}
.logInForm{
	padding: 50px 100px 100px;
}
.logInForm form{
	text-align: center;
}
.inputElement{
	background-color: #ffffff;
	height: 50px;
	width: 300px;
	padding: 4px 0 0 25px;
	border: 1px solid transparent;
}
.inputElement:focus{
	border: 1px solid #4da6ff;
	transition: all 0.3s ease-in-out;
}
.contentBackground a, .contentBackground a:hover{
	cursor: pointer;
	color: #668cff;
	text-decoration: none;
}
/* -----------------  Content Settings --------------*/
/* -----------------  Registration Modal Settings --------------*/
.modal{
	margin-top: 90px;
}
.modal-header{
	border: none;
	padding-bottom: 0;
}
.modal-content{
	background: rgba(242, 242, 242, 0.9)
}
.modal-body{
	text-align: center;
	padding-top: 0;
}
.modal-body #firstName{
	display: inline-block;
	position: relative;
	width: 138px;
}
.modal-body #lastName{
	display: inline-block;
	position: relative;
	width: 138px;
}
.modal-body span{
	color: red; 
}
/* -----------------  Registation Modal Settings --------------*/
/* -----------------  Recovery Modal Settings --------------*/
#recover .modal-body{
	padding: 0 15px;
}
/*#recover .modal-header{
	padding-bottom: 0;
}*/
.modal-body p{
	text-align: center;
	color: #0099e6;
	font-style: italic;
	font-size: 12px;
	padding-top: 10px;
}
/* -----------------  Recovery Modal Settings --------------*/
/* -----------------  ResetPassword Settings --------------*/
.resetPassword form{
	text-align: center;
}
/* -----------------  ResetPassword Settings --------------*/
#RedAlert{
	border-radius: 10px;
	opacity: 0;
	border: 1px solid red;
	margin: 0;
	height: 50px;
}
#GreenAlert{
	border-radius: 10px;
}
#message{
	margin-top: 115px;
}